[Unit]
Description=ScoreEngine for Cyber Patriots
After=syslog.target network.target auditd.service sshd.service

[Service]
#EnvironmentFile=/etc/sysconfig/sshd
ExecStart=/usr/bin/ruby -I/opt/gems/ScoreEngine/lib /opt/gems/ScoreEngine/score_engine.rb --daemonize --pid /var/log/score-engine.pid --log /var/log/score-engine.log
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
